name: Trivy FS (Repo & IaC)
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  trivy-fs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Trivy filesystem scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          scan-ref: .
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
